// Import Bootstrap SCSS variables and styles first
@import '~bootstrap/scss/bootstrap.scss';

// Import Bootstrap Vue SCSS variables and styles
@import '~bootstrap-vue/src/index.scss';


@font-face {
  font-family: 'Monoid';
  src: url('assets/fonts/Monoisome-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monoid-Bold';
  src: url('assets/fonts/Monoid-Bold-HalfTight-Small-Dollar-0-1-l-NoCalt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'FiraCode'; 
  src: url('assets/fonts/FiraCode/woff/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraCode-Bold';
  src: url('assets/fonts/FiraCode/woff/FiraCode-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



